<a class="item category template" onclick="onCategoryMenuItemSelected(event)">
    <span class="categoryName" onclick="onCategorySelected(event)"></span>
    <i class="remove icon categoryRemove" onclick="onRemoveCategory(event)"></i>
    <i class="setting icon categorySettings" onclick="onConfigureCategory(event)"></i>
</a>