<div class="ui tiny test modal" id="deleteConfirm">
    <div class="header">
        Löschen
    </div>
    <div class="content">
        <p>Sind Sie sicher, dass Sie das löschen möchten?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            Nein
        </div>
        <div class="ui positive right labeled icon button">
            Ja
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>