<div class="ui menu inverted attached navbar">
    <div class="ui container">
        <div class="header item">
            <img src="/images/favicon.ico.png" /> &nbsp;&nbsp;&nbsp;Colour&Point
        </div>
        <a href="/" class="item{{#if isHome}} active{{/if}}">Startseite</a>
        <a href="/repository" class="item{{#if isRepository}} active{{/if}}">Lager</a>
    </div>
</div>