<div class="container container-margin">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th> Name </th>
          <th> Format </th>
          <th> Mindest-Menge</th>
          <th> Menge </th>
        </tr>
      </thead>
      <tbody id="tooLowBody"></tbody>
    </table>
    <%= button_tag style: "margin-right:0", class:"btn btn-primary input-product float-right", onclick:"refreshTooLowBody()" do %>
      Neuladen <i class="fa fa-refresh"></i>
    <% end %>
  </div>
</div>
